<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<label for="">
    <input type="text" placeholder="fill in the hero's name!" [(ngModel)]="item" />
</label>
<button class="btn btn-dark" (click)=onInputHandler()> Add HERO</button>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let h of heroes">
    {{h.id}} - {{h.name}}
  </li>
</ul>
<!-- <h2 *ngFor="let h of heroes">{{h.id}} - {{h.name}}</h2> -->

