<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1>Here is the heroes-list Component</h1>
<div class="heroes">
    <ul>
        <li *ngFor="let item of items; let i = index" class='heroes'>
            <span class="badge badge-info"> ID: {{i + 1}}</span> - <span class="btn btn-light" (click)="displayDetails(item)"> {{item.name}}</span>
        </li>
    </ul>
</div>

<div *ngIf="itemDetails">
    <h6>Hero's Name: {{itemDetails.name | uppercase }}</h6>
    <h6>Hero's Weapons: {{itemDetails.Weapons}}</h6>
    <h6>Hero's Creation Year: {{itemDetails.creationYear}}</h6>
    <h6>Hero's SuperPower: 
        <ul>
            <li *ngFor="let superP of itemDetails.superPower">
                {{superP}}
            </li>
        </ul>
    </h6>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" placeholder="name" [(ngModel)]="itemDetails.name">
    </div>
</div>