h3{
    color:#1976d2;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 10px;
}

.productListComponent{
    padding: 10px 0px;
}

.product{
    padding: 30px;
}